

<div class="foter">
    <!-- Brands -->
    <div class="brands">
        <h3>Brands</h3>
        <div class="logos">
            <a href="#"><img src="~/Content/images/logo1.gif" alt="" /></a>
            <a href="#"><img src="~/Content/images/logo2.gif" alt="" /></a>
            <a href="#"><img src="~/Content/images/logo3.gif" alt="" /></a>
            <a href="#"><img src="~/Content/images/logo4.gif" alt="" /></a>
            <a href="#"><img src="~/Content/images/logo5.gif" alt="" /></a>
        </div>
    </div>
    <!-- End Brands -->
    <!-- Footer -->
    <div id="footer">
        <div class="left">
            <a href="#">Trang chủ</a>
            <span>|</span>
            <a href="#">Hỗ trợ</a>
            <span>|</span>
            <a href="#">Tài khoản</a>
            <span>|</span>
            <a href="#">Cửa hàng</a>
            <span>|</span>
            <a href="#">Liên hệ</a>
        </div>
        <div class="right">
            &copy; Copyright <a href="http://chocotemplates.com" target="_blank" title="CSS Templates">BestShose.com</a>
        </div>
    </div>
</div>
<!-- End Footer -->