
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main -->
<div id="main">
    <div class="shell">

        <!-- Search, etc -->
        <div class="options">
            <div class="search">
                <form action="" method="post">
                    <span class="field"><input type="text" class="blink" value="Tìm kiếm" title="SEARCH" /></span>
                    <input type="text" class="search-submit" value="GO" />
                </form>
            </div>
            <span class="left"><a href="#">Tìm nâng cao</a></span>

            <div class="right">
                <span class="cart">
                    <a href="#" class="cart-ico">&nbsp;</a>
                    <strong>$0.00</strong>
                </span>
                <span class="left more-links">
                    <a href="#">Thanh toán</a>
                    <a href="#">Giỏ hàng</a>
                </span>
            </div>
        </div>
        <!-- End Search, etc -->
        <!-- Content -->
        <div id="content">

            <!-- Tabs -->
            <div class="tabs">
                <ul>
                    <li><a href="#" class="active"><span>Giày Bảo Hộ</span></a></li>
                    <li><a href="#"><span>Giày Thể Thao</span></a></li>
                    <li><a href="#" class="red"><span>Thêm Giày</span></a></li>
                </ul>
            </div>
            <!-- Tabs -->
            <!-- Container -->
            <div id="container">

                <div class="tabbed">

                    <!-- First Tab Content -->
                    <div class="tab-content" style="display:block;">
                        <div class="items">
                            <div class="cl">&nbsp;</div>
                            <ul>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image1.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image2.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image3.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image4.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image4.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image3.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image2.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image1.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                            </ul>
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>
                    <!-- End First Tab Content -->
                    <!-- Second Tab Content -->
                    <div class="tab-content">
                        <div class="items">
                            <div class="cl">&nbsp;</div>
                            <ul>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image2.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image2.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image2.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image2.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image1.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image1.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image1.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image1.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                            </ul>
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>
                    <!-- End Second Tab Content -->
                    <!-- Third Tab Content -->
                    <div class="tab-content">
                        <div class="items">
                            <div class="cl">&nbsp;</div>
                            <ul>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image3.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image3.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image3.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image3.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image4.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image4.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image4.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image4.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>

                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image2.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image2.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image2.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image2.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image1.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image1.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image1.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                                <li>
                                    <div class="image">
                                        <a href="#"><img src="~/Content/images/image1.jpg" alt="" /></a>
                                    </div>
                                    <p>
                                        Mã Sản Phẩm: <span>125515</span><br />
                                        Size : <span>8/8.5/9.5/10/11</span><br />
                                        Thương Hiệu: <a href="#">Adidas Shoes</a>
                                    </p>
                                    <p class="price">Giá bán: <strong>53 USD</strong></p>
                                </li>
                            </ul>
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>
                    <!-- End Third Tab Content -->

                </div>


            </div>
            <!-- End Container -->

        </div>
        <!-- End Content -->

    </div>
</div>
<!-- End Main -->